*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 1.25em;
  font-family: Poppins;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: #232323;
}
#btn {
  margin-top: 1em;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 3px 20px #000000;
  cursor: pointer;
  background: linear-gradient(
    to top right,
    #d75cc4 0%,
    #dd802a 50%,
    #caddb1 100%
  );
  color: #fff;
  font-weight: bold;
  display: block;
}

#btn:active {
  transform: translateY(3px);
}
.shadow {
  color: #fff;
  text-shadow: 0 3px 3px #000000;
  text-transform: uppercase;
}
.small {
  font-size: 0.75rem;
  text-transform: capitalize;
}
#hexCodeText {
  margin-top: 2em;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 3px 20px #000000;
  cursor: pointer;
  background: linear-gradient(
    to top right,
    #d75cc4 0%,
    #dd802a 50%,
    #caddb1 100%
  );
  color: #fff;
  font-weight: bold;
  display: block;

  display: block;
  text-align: center;
  background: transparent;
  cursor: pointer;
  border: none;
}
#hexCodeText:active {
  transform: translateY(3px);
}
#hint {
  position: absolute;
  top: 10px;
  left: 10px;
}
